/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.caja_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(212, 206, 206, 0.1);
}

.contenedor_login {
    text-align: center;
}

/* Estilos para el icono */
.text-center {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas y enlaces */
.etiqueta_iniciar_sesion,
a {
    color: #333;
    text-decoration: none;
}

.etiqueta_iniciar_sesion {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para los cuadros de inicio de sesión */
.cuadro_inicio {
    margin-bottom: 20px;
}

.ingresar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para el botón de inicio de sesión */
.boton_inicio_sesion {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton_inicio_sesion:hover {
    background-color: #0056b3;
}

/* Estilos para home */

