/* Resetear estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el contenedor principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilo para el contenedor del formulario de inicio de sesión */
.caja_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor_login {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Estilo para el ícono de usuario */
.zmdi-account-circle {
    font-size: 80px;
    color: #4CAF50;
}

/* Estilos para los elementos de texto */
.etiqueta_iniciar_sesion {
    font-size: 18px;
    margin-top: 10px;
}

/* Estilos para los cuadros de entrada y etiquetas */
.cuadro_inicio {
    margin-top: 20px;
    position: relative;
}

.ingresar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.etiqueta {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Estilos para el botón de inicio de sesión */
.boton_inicio_sesion {
    background-color: #1423a1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.boton_inicio_sesion:hover {
    background-color: #0a156b;
}