{% extends 'base.html' %}

{% block title %}Equipment{% endblock %}

{% block content %}
    <h2 class="titulo">Equipos</h2>
    <table class="tablaEPP">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Nivel</th>
                <th>Stock</th>
                <th>Archivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in equipment %}
            <tr>
                <td>{{ item.idEquipment }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.get_level_display }}</td>  <!-- Utiliza get_level_display para mostrar el nivel legible -->
                <td>{{ item.stock }}</td>
                <td>
                    {% if item.archivo %}
                        <a href="{{ item.archivo.url }}" target="_blank">Ver archivo</a>
                    {% else %}
                        No archivo adjunto
                    {% endif %}
                </td>
                <!-- ...............................................  -->
                <td>
                    <button class="edit-button" data-id="{{ item.idEquipment }}" data-name="{{ item.name }}" data-quantity="{{ item.quantity }}" data-level="{{ item.level }}" data-stock="{{ item.stock }}">
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <form method="post" action="{% url 'delete_equipment' item.idEquipment %}" style="display:inline;" onsubmit="return confirmDelete();">
                        {% csrf_token %}
                        <button type="submit">
                            <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                    </form>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav class="agregar">
        <ul>
            <li><a href="{% url 'add_equipment' %}"><i class="fas fa-plus"></i> Agregar Equipo</a></li>
        </ul>
    </nav>

    <!--   .............................   -->
       <!-- Modal de Edición -->
    <div id="editModal" style="display:none;">
        <form method="post" enctype="multipart/form-data" id="editForm" onsubmit="return confirmEdit();">
            {% csrf_token %}
            <input type="hidden" name="idEquipment" id="editId">
            <label for="editName">Nombre:</label>
            <input type="text" name="name" id="editName">
            <label for="editQuantity">Cantidad:</label>
            <input type="number" name="quantity" id="editQuantity">
            <label for="editLevel">Nivel:</label>
            <select name="level" id="editLevel">
                <option value="0">Elija un nivel</option>
                <option value="1">Bajo</option>
                <option value="2">Medio</option>
                <option value="3">Mayor</option>
            </select>
            <label for="editStock">Stock:</label>
            <input type="number" name="stock" id="editStock">
            <label for="editArchivo">Archivo:</label>
            <input type="file" name="archivo" id="editArchivo">
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

    <script>
        document.querySelectorAll('.edit-button').forEach(button => {
            button.addEventListener('click', () => {
                document.getElementById('editId').value = button.dataset.id;
                document.getElementById('editName').value = button.dataset.name;
                document.getElementById('editQuantity').value = button.dataset.quantity;
                document.getElementById('editLevel').value = button.dataset.level;
                document.getElementById('editStock').value = button.dataset.stock;
                document.getElementById('editModal').style.display = 'block';
                document.getElementById('editForm').action = '/equipment/edit/' + button.dataset.id + '/';
            });
        });

    function confirmDelete() {
        return confirm("¿Esta seguro de eliminar este Equipo?");
    }
    function confirmEdit() {
        return confirm("¿Esta seguro de que desea guardar los cambios de este material?");
    }
    </script>


{% endblock %}
