{% extends 'base.html' %}

{% block title %}Loan{% endblock %}

{% block content %}
<h2 class="titulo">Préstamos</h2>
<nav class="agregar">
    <ul>
        <li><a href="{% url 'add_loan' %}">Asignar a Trabajador</a></li>
    </ul>
</nav>
<table class="tablaEPP">
    <thead>
        <tr>
            <th>DNI Trabajador</th>
            <th>Nombre Trabajador</th>
            <th>Apellido Trabajador</th>
            <th>Material</th>
            <th>Herramienta</th>
            <th>Equipo</th>
            <th>EPP</th>
            <th>Fecha asignación</th>
            <th>Fecha devolución</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in loans %}
        <tr>
            <td>{{ item.worker.dni }}</td>
            <td>{{ item.worker.name }}</td>
            <td>{{ item.worker.surname }}</td>
            <td>{{ item.material.name }}</td>
            <td>{{ item.tool.name }}</td>
            <td>{{ item.equipment.name }}</td>
            <td>{{ item.ppe.name }}</td>
            <td>{{ item.loanDate }}</td>
            <td>{{ item.returnLoanDate }}</td>
            <td>
                <button class="botonAccion" id="modificar">Modificar</button>
                <button class="botonAccion" id="eliminar">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}