{% extends 'base.html' %}

{% block title %}Materiales{% endblock %}

{% block content %}
<h2 class="titulo">Materiales</h2>
<nav class="agregar">
    <form class="buscar" method="get" action="{% url 'material_list' %}">
        <input type="text" name="q" placeholder="Buscar por nombre" value="{{ query|default_if_none:'' }}">
        <button class="buscar" type="submit">Buscar</button>
    </form>    
    <ul>
        <li class="listaCabecera"><a href="{% url 'loan_list' %}">Volver</a></li>
        <li><a href="{% url 'add_material' %}">Agregar Material</a></li>
    </ul>
</nav>
<table class="tablaEPP">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Stock</th>
            <th>Número de Guía</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in materials %}
        <tr>
            <td>{{ item.idMaterial }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.guideNumber }}</td>
            <td>
                <a href="{% url 'modify_material' item.idMaterial %}" class="btn btn-info editar-btn" data-residuo-id="{{ item.idMaterial }}">Editar</a>
                <a href="{% url 'delete_material' item.idMaterial %}" class="btn btn-danger eliminar-btn" data-residuo-id="{{ item.idMaterial }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}