{% extends 'base.html' %}

{% block title %}Herramientas{% endblock %}

{% block content %}
<h2 class="titulo">Herramientas</h2>
<nav class="agregar">
    <ul>
        <li><a href="{% url 'add_tool' %}">Agregar Herramientas</a></li>
    </ul>
</nav>
<table class="tablaEPP">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Nivel</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in tools %}
        <tr>
            <td>{{ item.idTool }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.level }}</td>
            <td>{{ item.stock }}</td>
            <td>
                <button class="botonAccion">Modificar</button>
                <button class="botonAccion">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}