{% extends 'base.html' %}

{% block title %}Herramientas{% endblock %}

{% block content %}
<h2 class="titulo">Herramientas</h2>
<nav class="agregar">
    <form class="buscar" method="get" action="{% url 'tool_list' %}">
        <input type="text" name="q" placeholder="Buscar por nombre" value="{{ query|default_if_none:'' }}">
        <button class="buscar" type="submit">Buscar</button>
    </form>
    <ul>
        <li class="listaCabecera"><a href="{% url 'loan_list' %}">Volver</a></li>
        <li><a href="{% url 'add_tool' %}">Agregar Herramientas</a></li>
    </ul>
</nav>
<table class="tablaEPP">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Nivel</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in tools %}
        <tr>
            <td>{{ item.idTool }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.level }}</td>
            <td>{{ item.stock }}</td>
            <td>
                <a href="{% url 'modify_tool' item.idTool %}" class="btn btn-info editar-btn" data-residuo-id="{{ item.idTool }}">Editar</a>
                <a href="{% url 'delete_tool' item.idTool %}" class="btn btn-danger eliminar-btn" data-residuo-id="{{ item.idTool }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}